body{
    background-image: url(Assests/guiytar.jpg);
    
}
#first{
    display: flex;
    flex-direction: column;
    align-items:50%;
}

.keys{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    color: aqua;
    

}

.key{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100px;
    height: 100px;
    padding: 20px 10px 20px 10px;
    border: 4px solid black;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
    color: #594FC4;
    border-radius: 10px;
    transition: all 1.1s;

}

.playing{
    transform: scale(2);
    border-color: #ffc600;
    box-shadow: #ffc600;

}

kbd{
    display: block;
    font-size: 40px;

}

.sound{
    color: #ffc600;
}